 
.hide {
    display: none;
}

.player {
    display: inline-block;
    width: 200px;
    min-height: 400px;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ddd;
}

.card {
    display: block;
    margin: auto;
    padding: 7px;
    height: 110px;
    width: 80px;
    margin-top: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px #333;
}

.big {
    font-size: 1.5em;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
    display: block;
}

.red {
    color: red;
}

.tiny {
    display: block;
    font-size: 0.6em;
    line-height: 12px;
    vertical-align: top;
    text-align: left;
}

.stats {
    margin-top: 25px;
    font-size: 0.8em;
}

.gameplay{
    background-color: white;
}
.message{
    font-size: 1.2em;
    padding: 10px;
}
.start{
    font-size:1.5em;
    text-align: center;
    padding: 10px;
    background-color: greenyellow;
    color: white;
}
.attack{
    font-size:1.5em;
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: white;
}
input{
    width: 100px;
    font-size:2em;
}
